openapi: 3.0.0
info: 
  version: 1.0.0
  title: Bolt API
  description: TBD 
servers:
  - url: 'https://api.bolt.com'
    description: The Production URL (Live Data).
  - url: 'https://api-sandbox.bolt.com'
    description: The Sandbox URL (Test Data).
  - url: 'https://api-staging.bolt.com'
    description: The Staging URL (Staged Data).
paths:
  '/v1/account/addresses':
    post:
      summary: Add Address
      operationId: AddAddress
      description: Add an address to a shopper's account address book. 
      tags: 
          - Account 
      security: 
          - X-API-Key: [] 
            Authorization:
              - openId
              - bolt.account.manage
          - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema: 
                $ref: '#/components/schemas/Address'
      responses:
        '200':
          description: Address Added Successfully 
          content:
            application/json:
              schema:
                  allOf:
                      - $ref: '#/components/schemas/AddressView'
                      - type: object 
                        properties:
                            default:
                                type: boolean
  '/v1/account':
    get:
      summary: Get Account Details
      operationId: GetAccountDetails
      description: Fetch a shopper's account details to pre-fill checkout fields. This request must come from your backend. For PCI compliance, only limited information is returned for each credit card available in the shopper’s wallet. 
      tags: 
          - Account 
      security: 
          - X-API-Key: [] 
            Authorization:
              - openId
              - bolt.account.manage 
            bearerAuth: []
      responses:
        '200':
          description: Account Details Fetched 
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/AccountDetails'
    post:
      summary: Create Bolt Account
      operationId: CreateBoltAccount
      description: Create a Bolt shopping account. 
      tags: 
          - Account 
      security: 
          - X-API-Key: [] 
            Authorization:
              - openId
              - bolt.account.manage
      requestBody:
        content:
          application/json:
            schema: 
                $ref: '#/components/schemas/CreateAccountInput'
      responses:
        '200':
          description: Account Created 
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/AccountDetails'
  '/v1/account/exists':
    get:
      summary: Detect Account 
      operationId:  DetectAccount
      description: Check whether an account exists using `email` as the unique identifier.
      tags:
          - Account 
      parameters: 
          - $ref: '#/components/parameters/email'
      responses:
        '200':
          description: Has Bolt Account 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1AccountsView'
        '422':
          description: Missing Email Query Parameter 
          content:
            application/json:
              schema:
                description: Missing Input Parameter Error
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      success:
                        type: boolean
                        description: Indicates that the request failed. This value is always false.
                        example: false
                  errors:
                    description: Error object containing custom error information
                    type: object
                    properties:
                      code:
                        type: integer
                        format: int64
                        description: Custom defined bolt error code. This can be used to programmatically react to specific errors. 
                        example: 25
                      message:
                        type: string
                        description: Human readable description of the error for developers. These shouldn't be shown to users and is not localized. 
                        example: The input is missing a required parameter.
  '/v1/account/payment_methods':
    post:
      summary: Add Payment Method 
      operationId: AddPaymentMethod
      description: Add a payment method to a shopper's Bolt account Wallet; this request must come from your backend. You can also tokenize this payment information using our javascript library function.
      tags: 
          - Account 
      security: 
          - X-API-Key: [] 
            Authorization:
              - openId
              - bolt.account.manage
            bearerAuth: []
      requestBody:
        content:
          application/json:
            schema: 
                $ref: '#/components/schemas/EmbeddedCreditCardInput'
      responses:
        '200':
          description: Payment Method Added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodView'
  
  '/v1/merchant/metrics':
    post:
      summary: Add Merchant Metrics
      operationId:  AddMerchantMetrics
      description: This endpoint listens for when a merchant uploads metrics. 
      tags:
          - Merchant 
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/json:
            schema: 
                $ref: '#/components/schemas/MerchantMetrics'
      responses:
        '200':
          description: No Response expected. 
  /v1/merchant/orders:
    post:
      summary: Create Order Token
      security:
        - X-API-Key: []
      operationId: CreateOrderToken
      description: Make a request to this endpoint to create a Bolt order, generate a Bolt order token, and initiate the checkout process. A Bolt order token is required for Bolt orders; see Non-Bolt orders for alternative use cases. 
      tags:
        - Orders 
      requestBody:
        description: Generate Order Token
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/OrderCreate'
      responses:
        '200':
          description: Token Generation Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderView'
        '400':
          description: Generic Error Schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IErrorResponse'
        '403':
          description: Generic Error Schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBD'
        '422':
          description: Generic Error Schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBD'
  '/v1/merchant/payment_methods':
    post:
      summary: Create Payment Methods
      operationId:  CreatePaymentMethods
      description: This endpoint ...
      tags:
          - Merchant 
      security:
        - X-API-Key: []
      requestBody:
        description: TBD 
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentMethod'
      responses:
        '200':
          description: Created Payment Method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodView'
  '/v1/merchant/sign':
    post:
      summary: Sign Merchant User ID
      operationId:  SignMerchantUserID
      description: This endpoint...
      tags:
          - Merchant  
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/json:
            schema: 
                type: object 
                properties:
                    merchant_user_id:
                        type: string 
                        maxLength: 255 
      responses:
        '200':
          description: Merchant User ID Signed 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantUserView'
  '/v1/merchant/statement':
    post:
      summary: Fetch a Statement
      security:
        - X-API-Key: []
      operationId: statements
      description: Get a pre-signed URL for the requested statement file.
      tags:
        - Merchant 
      parameters:
          - $ref: '#/components/parameters/x-nonce'
      requestBody:
        description: View Statements
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - file_type
                - date
              properties:
                type:
                  type: string
                  enum:
                    - daily_transaction
                    - monthly_transaction
                    - daily_funding
                  description: |
                    The type of statement. The type is prepended with a prefix containing the frequency of the statement. The prefix will be either daily or monthly. Transaction statements will contain all transactional event entries. Funding statements contain only funding transactional event entries.
                  example: daily_transaction
                file_type:
                  type: string
                  enum:
                    - csv
                  description: 'This is the type of the file. Currently, Bolt only supports CSV statements.'
                  example: csv
                date:
                  type: integer
                  description: 'This is the date of the statement, in milliseconds since the Unix epoch time.'
                  example: 1586480400000
      responses:
        '200':
          description: Statements Fetch Successful
          content:
            application/json:
              schema:
                type: object
                required:
                  - url
                properties:
                  url:
                    type: string
                    description: |
                      This is the pre-signed URL of the requested statement. The URL has an expiration period of 5 minutes.
                      Sharing the URL implies sharing the statement and its contents, please be careful.
                    example: 'https://bolt-statements-production.s3.us-west-2.amazonaws.com/00_daily_transaction_20200410.csv'
        '403':
          description: Generic Error Schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBD'
        '404':
          description: Generic Error Schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBD'
        '422':
          description: Generic Error Schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBD'
  '/v1/merchant/track_shipment':
    post:
      summary: Track Shipment
      operationId:  TrackShipment
      description: This endpoint creates an Easypost tracker to get shipment status updates.
      tags:
          - Orders 
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/json:
            schema: 
              $ref: '#/components/schemas/TrackingInput'
      responses:
        '200':
          description: No JSON response should be expected. 
  
  '/v1/merchant/transactions/async_credit':
    post:
      summary: Async Credit 
      operationId:  Async Credit
      description: This endpoint ...
      tags:
          - Transactions 
      security:
        - X-API-Key: []
      requestBody:
        description: TBD 
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionCredit'
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBD'
  '/v1/merchant/transactions/capture':
    post:
      summary: Capture a Transaction
      security:
        - X-API-Key: []
      operationId: CaptureTransaction
      description: |
        This captures funds for the designated transaction. A capture can be done for any partial amount or for the total authorized amount. *Note that the actual JSON response will return all transaction details, but the fields documented below are the only fields relevant to this request.*
      tags:
        - Transactions 
      parameters:
          - $ref: '#/components/parameters/x-nonce'
      requestBody:
        description: Capture a Transaction
        content:
          application/json:
            schema:
               $ref: '#/components/schemas/CaptureTransaction'
      responses:
        '200':
          description: Capture Successful
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/TransactionView'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties: 
                  result:   
                    type: object 
                  errors:
                    type: array 
                    items: 
                      type: object 
                      properties: 
                        code: 
                          type: number 
                          example: 45
                        message:
                         type: string 
                         example: "Transaction is not in authorized state."
        '404':
          description: Generic Error Schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBD'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties: 
                  result:   
                    type: object 
                  errors:
                    type: array 
                    items: 
                      type: object 
                      properties: 
                        code: 
                          type: number 
                          example: 1000001
                        message:
                         type: string 
                         example: "`TA8hLkJh4db4JJ` must be a valid public id of type transaction"
                        field: 
                          type: string 
                          example: "transaction_id"
                      
  '/v1/merchant/transactions/credit':
    post:
      summary: Refund a Transaction
      security:
        - X-API-Key: []
      operationId: refund
      description: |
        This refunds a captured transaction. Refunds can be done for any partial amount or for the total authorized amount. The `CreditCardRefund` response contains only the most relevant fields and is not a full response; see the `TransactionDetails` response for a full example.
      tags:
        - Transactions 
      parameters:
          - $ref: '#/components/parameters/x-nonce'
      requestBody:
        description: Refund a Transaction
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionCredit'

      responses:
        '200':
          description: Refund Successful
          content:
            application/json:
              schema:
                oneOf: 
                - $ref: '#/components/schemas/TransactionView'
                - $ref: '#/components/schemas/CreditCardRefund'
        '403':
          description: Generic Error Schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBD'
        '404':
          description: Generic Error Schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBD'
        '422':
          description: Generic Error Schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBD'
  '/v1/merchant/transactions/void':
    post:
      summary: Void a Transaction
      security:
        - X-API-Key: []
      operationId: void
      description: |
        This voids the authorization for a given transaction. Voids must be completed before the authorization is captured. Although the response returns all transaction details, only `id` and `status` are needed. 
      tags:
        - Transactions 
      parameters:
          - $ref: '#/components/parameters/x-nonce'
      requestBody:
        description: Void a Transaction
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditCardVoid'
      responses:
        '200':
          description: Void Successful
          content:
            application/json:
              schema:
                oneOf: 
                  - $ref: '#/components/schemas/CreditCardVoidView'
                  - $ref: '#/components/schemas/TransactionView'
        '403':
          description: Generic Error Schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBD'
        '404':
          description: Generic Error Schema
          content:
            application/json:
              schema:
                type: object
                properties: 
                  result:   
                    type: object 
                    properties: 
                      success:
                        type: string 
                        example: "false"
                  errors:
                    type: array 
                    items: 
                      type: object 
                      properties: 
                        code: 
                          type: number 
                          example: 24
                        message:
                         type: string 
                         example: "The requested entity was not found. transaction_id not found"
                        field: 
                          type: string 
                          example: "id"
  '/v1/merchant/transactions/authorize':
    post:
      summary: Authorize a Card
      security:
        - X-API-Key: []
      operationId: MerchantAuthorize
      description: This endpoint authorizes payments using both saved payment methods and unsaved payment methods. For guest-checkout flows and one-time payments, use the `MerchantCreditCardAuthorization` request example; for logged-in checkout flows using saved payment methods (either as a one-time purchase or as a reoccurring subscription), use the `MerchantCreditCardAuthorizationRecharge` request example. 
      tags:
        - Transactions 
      parameters:
          - $ref: '#/components/parameters/x-nonce'
          - $ref: '#/components/parameters/x-publishable-key'
      requestBody:
        description: Authorize a Transaction
        content:
          application/json:
            schema:
                oneOf: 
                - $ref: '#/components/schemas/MerchantCreditCardAuthorization'
                - $ref: '#/components/schemas/MerchantCreditCardAuthorizationRecharge'
      responses:
        '200':
          description: Authorization Successful
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/IAuthorizeResultView'
  '/v1/merchant/transactions/review':
    post:
      summary: Review Transaction 
      operationId: ReviewTransaction 
      security:
        - X-API-Key: []
      description: TBD 
      tags:
        - Transactions 
      parameters:
          - $ref: '#/components/parameters/x-nonce'
      requestBody:
        description: Review a Transaction
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantCreditCardReview'
      responses:
        '200':
          description: Transaction Details Received 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionDetailsView'
  '/v1/merchant/transactions/{REFERENCE}':
    get:
      summary: Get Transaction Details
      operationId: GetTransactionDetails
      security:
        - X-API-Key: []
      description: TBD 
      tags:
        - Transactions 
      parameters:
          - $ref: '#/components/parameters/reference'
          - $ref: '#/components/parameters/x-nonce'
      responses:
        '200':
          description: Transaction Details Received 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionDetailsView'
        '403':
          description: Generic Error Schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBD'
        '422':
          description: Generic Error Schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBD'
  
  '/v1/merchant/verify_signature':
    post:
      summary: Verify Signature 
      operationId:  VerifySignature 
      description: This endpoint ...
      tags:
          - Merchant  
      security:
        - X-API-Key: []
      requestBody:
        description: TBD 
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TBD'
      responses:
        '200':
          description: Signature Verified 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBD'
  
  '/v1/merchant/identifiers':
    get:
      summary: Get Merchant Identifiers
      operationId: merchant-identifiers
      description: This endpoint returns the merchant's public ID and the [publishable key](https://help.bolt.com/developers/guides/checkout-guides/managed-checkout/custom-cart-guides/how-to-integrate/) related to the merchant division. 
      security:
        - X-API-Key: []
      tags: 
        - Merchant Identifiers
      responses:
        200:
          description: Merchant Identifiers Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantIdentifiersView'
        403:
         description: Invalid Merchant API Key
         content:
          application/json:
            schema:
              type: object
              properties:
                  result:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: false
                  errors:
                    description: Error object containing error information
                    type: object
                    properties:
                      code:
                        type: integer
                        format: int64
                        example: 1005
                      message:
                        type: string
                        example: Authentication error. Invalid merchant key.  
  
  '/v1/merchant/orders/update':
    post:
      summary: Merchant Order Update 
      operationId:  MerchantOrderUpdate
      description: This endpoint updates an order that has already been placed. 
      tags:
          - Orders 
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/json:
            schema: 
                $ref: '#/components/schemas/MerchantOrderUpdate'
      responses:
        '200':
          description: No JSON response should be expected. 
  
  '/v1/non_bolt_order':
    post:
      summary: Create Non-Bolt Order
      operationId:  CreateNonBoltOrder
      description: This endpoint creates an order that does not use a Bolt order token. 
      tags:
          - Orders 
      security:
        - X-API-Key: []
      requestBody:
        description: TBD 
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NonBoltOrder'
      responses:
        '200':
          description: Non-Bolt Order Created 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionReferenceView'
  
  '/v1/products':
    get:
      summary: Get Products
      operationId: GetProducts 
      description: TBD
      tags:
          - Products 
      security:
        - X-API-Key: []
      responses:
        '200':
          description: Products Fetched 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductInventory' 
  
  '/v1/shipping_and_tax':
    post:
      summary: Shipping And Tax
      operationId:  ShippingAndTax
      description: TBD
      tags: 
          - Orders 
      security:
        - X-API-Key: []
      requestBody:
        content:
          application/json:
            schema: 
                $ref: '#/components/schemas/ShippingAndTax'
      responses:
        '200':
          description: Shipping And Tax Successful 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IShippingAndTaxView'
  '/v1/statement':
    get:
      summary: Get Statement CSV
      operationId:  GetStatementCSV
      description: TBD
      tags:
          - Merchant
      security:
        - X-API-Key: []
      responses:
        '200':
          description: Statement Fetched 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBD'
  
  '/v1/remote_checkout/order':
    post:
      summary: Create order token (remote)
      operationId: CreateRemoteOrder
      description: |
        This is used for publisher implementation use cases. After the publisher has called Bolt to check product inventory for availability, an order can created through the `/remote_checkout/order` endpoint.
      security:
        - X-API-Key: []
      tags:
        - Orders 
      parameters:
        - $ref: '#/components/parameters/x-nonce'
        - $ref: '#/components/parameters/x-publisher-key'
        - $ref: '#/components/parameters/x-authorization-signature'
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/IRemoteOrderCreate'
      responses:
        '200':
          description: Order Created Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IRemoteOrderResult'
        '422':
          description: Order Creation Failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  event:
                    type: string
                    enum:
                      - orders
                  status:
                    type: string
                    enum:
                      - failure
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        format: int64
                        description: This is an error code.
                        example: 2001005
                      message:
                        type: string
                        description: The error message.
                        example: This is an error message.
  '/v1/products/catalog':
    get:
      summary: Get Products Catalog 
      operationId: GetProductsCatalog
      description:  tbd 
      security:
        - X-API-Key: []
      tags:
        - Products 
      parameters:
        - $ref: '#/components/parameters/x-nonce'
        - $ref: '#/components/parameters/x-publisher-key'
        - $ref: '#/components/parameters/x-authorization-signature'
      responses:
        '200':
          description: Product Catalogue Retrieved  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogView'
  '/v1/shipments/mock_bolt_shipping':
    post: 
      summary: Test Shipping
      operationId: TestShipping
      description: This endpoint simulates tracking an order's shipment. 
      security:
        - X-API-Key: []
      tags: 
        - Orders
        - Testing
      parameters:
        - $ref: '#/components/parameters/x-authorization-signature'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MockTrackingInput'
      responses: 
        '200': 
          description: Success - No Details
        '400':
          description: OderTrackingTesting Generic Failure 
          content:
            application/json:
              schema: 
                  type: object 
                  properties:
                    status:
                      type: string 
                      enum:
                        - failure 
        '422':
          description: OderTrackingTesting With Error Messages
          content:
            application/json:
              schema: 
                  $ref: '#/components/schemas/IErrorResponse'
 
components:
    securitySchemes:
        X-API-Key:
            type: apiKey 
            name: X-API-Key 
            in: header
        Authorization:
            type: openIdConnect
            openIdConnectUrl: https://api.bolt.com/v1/oauth/authorize
            description: The Shopper's OAuth Token from their current active session. Use the `bolt.account.manage` scope to read and manage shopper account details such as payment methods and addresses.
        bearerAuth:            # arbitrary name for the security scheme
            type: http
            scheme: bearer
    schemas: 
        AccountDetails:
            type: object 
            properties: 
                profile:
                    $ref: '#/components/schemas/ProfileView'
                addresses: 
                    type: array 
                    description: A list of all addresses associated to the shopper's account.
                    items: 
                        $ref: '#/components/schemas/AddressView'
                payment_methods:
                    type: array 
                    description: A list of all payment methods associated to the shopper's account.
                    items:
                        $ref: '#/components/schemas/PaymentMethodView'
                has_bolt_account:
                    type: boolean 
                    description: Used to determine whether an existing Bolt account exists with this shopper's account details.
        V1AccountsView:
            type: object 
            properties:
                has_bolt_account:
                    type: boolean 
        AddressChangeRequestMetadataView:
            type: object 
            properties: 
                id:
                    type: string 
                status:
                    type: string 
                ticket_id:
                    type: string 
                ticket_status:
                    type: string 
                can_change_shipping_address:
                    type: boolean 
        Address:
            type: object 
            description: The Address object is used for billing, shipping, and physical store address use cases. 
            required:
                - street_address1
                - locality 
                - region 
                - postal_code 
            properties: 
                street_address1:
                    type: string
                    description: Used for the street number and street name of the address.
                    maxLength: 1024 
                    example: 888 main street  
                street_address2: 
                    type: string
                    description: Used for any apartment, floor, or unit details.
                    maxLength: 1024 
                    example: apt 3021
                street_address3:
                    type: string 
                    description: Used for region details such as state or province. 
                    maxLength: 1024 
                    nullable: true
                    example: null 
                street_address4:
                    type: string 
                    description: Used for city name details. 
                    maxLength: 1024 
                    nullable: true
                    example: null 
                locality:
                    type: string
                    description: Used for city name details associated with this address. 
                    maxLength: 1024 
                    example: New York 
                region:
                    type: string 
                    description: Used for region details such as state or province associated with this address. 
                    maxLength: 1024 
                    example: NY 
                postal_code:
                    type: string
                    description: Used for the postal or zip code associated with this address. 
                    maxLength: 32
                    example: "10044" 
                country_code:
                    type: string 
                    description: Used for the 2-digit ISO 3166-1 alpha 2 country code associated with this address. 
                    maxLength: 2 
                    example: "US"
                country:
                    type: string 
                    description: Used for the name of the country associated with this address. 
                    maxLength: 1024 
                    example: United States
                name:
                    type: string 
                    description: The given and surname of the person associated with this address. 
                    maxLength: 1024 
                    example: Alan Watts 
                first_name:
                    type: string 
                    description: The given name of the person associated with this address. 
                    maxLength: 1024 
                    example: Alan 
                last_name:
                    type: string 
                    description: The surname of the person associated with this address. 
                    maxLength: 1024 
                    example: Watts 
                company:
                    type: string 
                    description: The company name associated with this address. 
                    maxLength: 1024 
                    example: Bolt 
                phone:
                    type: string 
                    description: The phone number of the person associated with this address. 
                    maxLength: 255 
                    example: 1-867-5309 
                email:
                    type: string 
                    description: The email of the person associated with this address. 
                    format: email 
                    maxLength: 255 
                    example: alan.watts@bolt.com 
        Address-Account:
            type: object 
            allOf: 
                - $ref: '#/components/schemas/Address'
                - type: object 
                  properties: 
                    default: 
                        type: boolean
                        description: Set this to true to make this the default shipping address. There can be only one address with default set to true.
        AddressChangeView:
            type: object 
            properties: 
              ticket_id: 
                type: string 
              from_address:
                $ref: '#/components/schemas/AddressView'
              to_address:
                $ref: '#/components/schemas/AddressView'
              status: 
                type: string 
              timestamp: 
               type: number 
               format: int64 
        AddressView:
            type: object 
            description: The address object returned in the response. 
            properties: 
                id: 
                    type: string 
                    description: The unique Bolt ID associated with this address. 
                street_address1: 
                    type: string 
                    description: Used for the street number and street name of the address.
                    example: 888 main street  
                street_address2:
                    type: string 
                    description: Used for any apartment, floor, or unit details.
                    example: apt 3021
                street_address3:
                    type: string 
                    description: Used for region details such as state or province. 
                    nullable: true
                    example: null 
                street_address4:
                    type: string 
                    description: Used for city name details. 
                    nullable: true
                    example: null 
                locality:
                    type: string 
                    description: Used for city name details associated with this address. 
                    example: New York 
                region:
                    type: string 
                    description: Used for region details such as state or province associated with this address. 
                    example: NY 
                postal_code:
                    type: string 
                    description: Used for the postal or zip code associated with this address. 
                    maxLength: 32 
                    example: "10044"
                country_code:
                    type: string
                    description: Used for the 2-digit ISO 3166-1 alpha 2 country code associated with this address. 
                    example: "US" 
                country:
                    type: string 
                    description: Used for the name of the country associated with this address. 
                    example: United States 
                name:
                    type: string 
                    description: The given and surname of the person associated with this address. 
                    example: Alan Watts 
                first_name:
                    type: string 
                    description: The given name of the person associated with this address. 
                    example: Alan 
                last_name:
                    type: string 
                    description: The surname of the person associated with this address. 
                    example: Watts 
                company:
                    type: string 
                    description: The company name associated with this address. 
                    example: Bolt 
                phone_number:
                    type: string 
                    description: The phone number of the person associated with this address. 
                    example: 1-867-5309
                email_address:
                    type: string 
                    description: The email of the person associated with this address. 
                    format: email 
                    example: alan.watts@bolt.com
        AllianceDataInfo: 
            type: object 
            required: 
                - call_id 
            properties: 
                call_id:
                    type: string 
        AmountView:
            type: object 
            properties: 
                amount:
                    type: number 
                    format: int64 
                currency: 
                    type: string 
                    example: USD 
                currency_symbol:
                    type: string 
                    example: "$"
        AuthorizeExternalOutputs:
            type: object 
            properties: 
                shopify_response:
                    $ref: '#/components/schemas/HostedPaymentsResponse'
                commerce_cloud_order_uuid:
                    type: string 
        
        AuthRejectionDetailsView:
            type: object 
            required: 
              - reason_description
            properties: 
                reason_code:
                    type: string 
                reason_description:
                    type: string 
        IAuthorizeResultView:
            type: object 
            properties: 
                transaction:
                    $ref: '#/components/schemas/TransactionView'
                external_outputs:
                    $ref: '#/components/schemas/AuthorizeExternalOutputs'
                is_verified_device_saved:
                    type: boolean 
                redirect_url:
                    type: string 
        BaseCart:
            type: object 
            description: The BaseCart object contains the core details typically found in most cart objects, including items, discounts, amount totals, shipments, and in-store pickups. 
            required: 
                - billing_address
                - billing_address_id
            properties:
                total_amount:
                    type: number 
                    format: int64 
                    description: The total amount, in cents, of the cart including its items and taxes if applicable. This total must match the sum of all other amounts.
                    example: 900
                items:
                    type: array
                    description: The list of items associated with the cart. 
                    items:
                        $ref: '#/components/schemas/CartItem'
                tax_amount:
                    type: number 
                    description: The total tax amount for all of the items associated with the cart. 
                    format: int64 
                billing_address_id:
                    type: string 
                    description: The unique Bolt ID associated with the billing address. Must be `null` if this address has never been saved to a Bolt account. 
                    nullable: true 
                    example: null
                  
                billing_address:
                    $ref: '#/components/schemas/Address'
                shipments: 
                    type: array 
                    items:
                        $ref: '#/components/schemas/CartShipment'
                in_store_cart_shipments:
                    type: array 
                    items:
                        $ref: '#/components/schemas/InStoreCartShipment'
                discounts:
                    type: array 
                    items: 
                        $ref: '#/components/schemas/CartDiscount'
                add_ons:
                    type: array 
                    items:
                        $ref: '#/components/schemas/CartDynamicAddOn'
                loyalty_rewards:
                    type: array 
                    items: 
                        $ref: '#/components/schemas/CartLoyaltyRewards'
                discount_code: 
                    type: string 
                    description: The discount code provided. 
                    example: SUMMER2024
                discount_source:
                    type: integer
                    description: |
                      Used to define the source of the discount applied. 
                      - `1` - Backend
                      - `2` - Frontend
                      - `3` - Merchant
                      - `4` - Dynamic discount
                    enum:
                        - 1
                        - 2
                        - 3
                        - 4 
                subscription:
                    $ref: '#/components/schemas/Subscription'
        CartCreate:
            allOf:
                - $ref: '#/components/schemas/BaseCart'
                - type: object 
                  required: 
                      - currency 
                      - metadata
                      - display_id 
                  properties: 
                      currency:
                          type: string 
                          example: USD 
                      order_description:
                          type: string 
                          description: Used optionally to pass additional information like order numbers or other IDs as needed. 
                          example: "Order #1234567890"
                          maxLength: 1024 
                      order_reference:
                          type: string 
                          description: The Bolt reference ID for a given order. This ID can be associated with many transaction references. 
                          example: order_100
                      transaction_reference:
                          type: string
                          description: The 12 digit reference ID associated to a given transaction webhook for an order. 
                          example: 6CEA-ZME1-DACE
                          minLength: 12 
                          maxLength: 12 
                      cart_url:
                          type: string 
                          description: Used to provide a link to the cart ID.
                          example: https://boltswagstore.com/orders/123456765432 
                          maxLength: 8192
                      display_id:
                          type: string 
                          maxLength: 128
                          example: displayid_100
                      metadata:
                          type: object 
                          additionalProperties:
                              type: string 
                          example: 
                            key1: value1 
                            key2: value2         
        CartDiscount: 
            type: object 
            properties: 
                amount:
                    type: number 
                    example: 100
                code:
                    type: string 
                    example: SUMMER10DISCOUNT
                    maxLength: 1024
                reference: 
                    type: string 
                    description: Used to define the reference ID associated with the discount available. 
                    example: DISC-1234
                    maxLength: 1024
                description:
                    type: string 
                    description: Used to define the discount offering.
                    example: 10% off our summer collection 
                    maxLength: 1024
                details_url: 
                    type: string 
                    description: Used to provide a link to additional details, such as a landing page, associated with the discount offering. 
                    example: https://boltswagstore.com/SUMMERSALE 
                    maxLength: 8192
                discount_category:
                    type: string 
                    enum:
                        - coupon 
                        - giftcard 
                        - managed_giftcard 
                        - store_credit 
                        - automatic_promotion
                        - dynamic_discount
                        - membership_discount
                        - unknown
                type: 
                    type: string 
                    description: Used to define the type of discount applied to the cart, such as a percentage, dynamic, or flat discount.
                    maxLength: 1024
                    enum: 
                        - "1"
                        - "2"
                        - "3"
                        - "4"
                        - "5"
        ICartDiscountView:
            type: object 
            properties: 
                amount:
                    $ref: '#/components/schemas/AmountView'
                reference:
                    type: string 
                    description: Used to define the reference ID associated with the discount available. 
                    example: DISC-1234
                description:
                    type: string 
                    description: Used to define the discount offering.
                    example: 10% off our summer collection 
                    maxLength: 1024 
                details_url:
                    type: string 
                    description: Used to provide a link to additional details, such as a landing page, associated with the discount offering. 
                    example: https://boltswagstore.com/SUMMERSALE 
                free_shipping:
                    $ref: '#/components/schemas/IFreeShippingDiscountView'
                discount_category:
                    type: string 
                    enum:
                        - coupon 
                        - giftcard 
                        - managed_giftcard 
                        - store_credit 
                        - automatic_promotion
                        - dynamic_discount
                        - membership_discount
                        - unknown
        CartView:
            type: object 
            description: This is the cart object returned in a successful response. 
            properties: 
                order_description:
                    type: string 
                    description: Used optionally to pass additional information like order numbers or other IDs as needed. 
                    example: "Order #1234567890"
                    maxLength: 1024 
                order_reference:
                    type: string 
                    description: The Bolt reference ID for a given order. This ID can be associated with many transaction references. 
                    example: order_100
                display_id:
                    type: string 
                    example: displayid_100
                transaction_reference:
                    type: string
                    description: The 12 digit reference ID associated to a given transaction webhook for an order. 
                    example: 6CEA-ZME1-DACE
                    minLength: 12 
                    maxLength: 12 
                cart_url:
                    type: string 
                    description: Used to provide a link to the cart ID.
                    example: https://boltswagstore.com/orders/123456765432 
                    maxLength: 8192
                merchant_order_url:
                    type: string 
                currency:
                    $ref: '#/components/schemas/ICurrency'
                subtotal_amount:
                    $ref: '#/components/schemas/AmountView'
                total_amount:
                    $ref: '#/components/schemas/AmountView'
                tax_amount:
                    $ref: '#/components/schemas/AmountView'
                shipping_amount:
                    $ref: '#/components/schemas/AmountView'
                discount_amount:
                    $ref: '#/components/schemas/AmountView'
                billing_address:
                    $ref: '#/components/schemas/AddressView'
                items:
                    type: array 
                    items:
                        $ref: '#/components/schemas/ICartItemView'
                pickups:
                    type: array 
                    items:
                        $ref: '#/components/schemas/IStoreShipmentView'
                shipments:
                    type: array 
                    items:
                        $ref: '#/components/schemas/ICartShipmentView'
                discounts:
                    type: array 
                    items:
                        $ref: '#/components/schemas/ICartDiscountView'
                customizations: 
                    type: array 
                    items:
                        $ref: '#/components/schemas/CartItemCustomization'
                delivery_options:
                    $ref: '#/components/schemas/IDeliveryOptions'
                msrp:
                    $ref: '#/components/schemas/AmountView'
                
                    
        CartItemCustomization:
            type: object 
            properties:
                title: 
                    type: string 
                price:
                    type: number 
                    format: int64 
                attributes:
                    type: object
                    additionalProperties:
                        type: string 
                    example: 
                      key1: value1 
                      key2: value2
        CartItemExternalInputs:
            type: object 
            properties: 
                shopify_product_reference:
                    type: number 
                    format: int64 
                shopify_product_variant_reference:
                    type: number 
                    format: int64 
                shopify_line_item_reference: 
                    type: number 
                    format: int64 
                
                
        CartDynamicAddOn:
            type: object 
            description: A list of up to 3 addons that are dynamically displayed to the shopper during checkout. 
            required:
                - name 
                - productId 
                - imageUrl 
                - price 
            properties: 
                name: 
                    type: string 
                    description: The name of the product being displayed as an add on.
                    maxLength: 256
                description: 
                    type: string 
                    description: The description of the product being displayed as an add on.
                    maxLength: 256
                productId:
                    type: string 
                    description: The the ID of the product being displayed as an add on.
                    maxLength: 256
                imageUrl:
                    type: string 
                    description: The URL of the image displayed for the add on product. 
                    maxLength: 1024
                productPageUrl: 
                    type: string 
                    description: The URL to the product page of the product being displayed as an add on. 
                    maxLength: 1024
                price: 
                    type: number 
                    format: int64 
                    description: The price of the product add on in cents (1/100). 

        CartItem:
            type: object 
            required:
                - reference 
                - name 
                - total_amount 
                - unit_price 
                - quantity 
                - properties 
                - collections 
                - customizations 
            properties:
                reference:
                    type: string 
                    maxLength: 1024
                    example: item_100
                name:
                    type: string 
                    minLength: 1
                    maxLength: 1024
                    example: Bolt Swag Bag 
                description:
                    type: string 
                    example: Large tote with Bolt logo. 
                    nullable: true
                options:
                    type: string 
                    example: Special Edition
                    maxLength: 1024
                    nullable: true
                total_amount:
                    type: number 
                    format: int64 
                    description: The total amount, in cents, of the item including its taxes if applicable.
                    example: 1000
                unit_price:
                    type: number 
                    format: int64 
                    description: The price of one unit of the item; for example, the price of one pack of socks.
                    example: 1000
                tax_amount:
                    type: number
                    format: int64 
                    description: The tax amount for the item; this value should scale with the quantity of units selected.
                    example: 0 
                    nullable: true
                quantity:
                    type: number 
                    format: int64 
                    maximum: 15000
                    example: 1 
                uom:
                    type: string 
                    description: Used to define the unit of measure used to describe the item. 
                    example: inches 
                    maxLength: 1024
                    nullable: true
                upc:
                    type: string 
                    description: Used to define the 12-digit Universal Product Code (a barcode) associated with the item worldwide. 
                    example: 0825764603119
                    maxLength: 1024
                    nullable: true
                sku:
                    type: string 
                    description: Used to define the alpha-numeric Stock Keeping Unit associated with the item as it is mapped to your internal product catalogue.
                    maxLength: 1024
                    example: BOLT-SKU_100
                    nullable: true
                isbn:
                    type: string 
                    description: Used to define the International Standard Book Number associated with the book.
                    example: 9780091347314
                    maxLength: 1024
                    nullable: true
                brand:
                    type: string 
                    maxLength: 1024
                    example: Bolt 
                    nullable: true
                manufacturer:
                    type: string 
                    description: Used to define the organization that manufactured the item. 
                    example: Bolt Textiles USA
                    maxLength: 1024
                    nullable: true
                category:
                    type: string 
                    description: Used to define a product category associated with the item.
                    example: bags  
                    maxLength: 1024
                    nullable: true
                tags:
                    type: string 
                    description: Used to define a comma-separated list of tags associated with the item. 
                    example: "tote, blue, linen, eco-friendly"
                    maxLength: 1024
                    nullable: true
                properties:
                    type: array
                    items:
                        $ref: '#/components/schemas/CartItemProperty'
                color: 
                    type: string 
                    description: Used to define the color of the item. 
                    example: Bolt Blue 
                    maxLength: 1024
                    nullable: true
                size:
                    type: string 
                    description: Used to define the size of the item. 
                    example: Large 
                    maxLength: 1024
                    nullable: true
                weight:
                    type: number 
                    format: int64 
                    example: 10
                    maximum: 10000
                    nullable: true
                weight_unit:
                    type: string 
                    example: pounds 
                    maxLength: 1024
                    nullable: true
                image_url:
                    type: string 
                    description: Used to provide a link to the image associated with the item. 
                    example: https://boltswagstore.com/products/123456/images/1.png 
                    maxLength: 8192
                details_url:
                    type: string
                    description: Used to provide a link to the item's product page. 
                    example: https://boltswagstore.com/products/123456 
                    maxLength: 8192
                external_inputs:
                    $ref: '#/components/schemas/CartItemExternalInputs'
                taxable:
                    type: boolean
                    nullable: true
                tax_code:
                    type: string 
                    maxLength: 32
                    nullable: true
                type:
                    type: string 
                    enum:
                        - unknown 
                        - digital 
                        - physical 
                        - bundled 
                collections:
                    type: array 
                    items:
                        type: string 
                subscription:
                    $ref: '#/components/schemas/Subscription'
                source: 
                    type: string
                    nullable: true
                item_group:
                    type: string 
                    nullable: true
                shipment_type:
                    type: string 
                    enum: 
                        - unknown 
                        - door_delivery 
                        - ship_to_store 
                        - in_store_pickup 
                customizations:
                    type: array 
                    items:
                        $ref: '#/components/schemas/CartItemCustomization'
                msrp:
                    type: number 
                    format: int64 
                    nullable: true
        ICartItemView:
            type: object 
            properties: 
                reference: 
                    type: string 
                name:
                    type: string 
                description:
                    type: string 
                options:
                    type: string 
                total_amount:
                    $ref: '#/components/schemas/AmountView'
                unit_price: 
                    $ref: '#/components/schemas/AmountView'
                tax_amount:
                    $ref: '#/components/schemas/AmountView'
                quantity:
                    type: number 
                    format: int64 
                    example: 1 
                uom:
                    type: string 
                    description: Used to define the unit of measure used to describe the product. 
                    example: inches 
                    maxLength: 1024
                    nullable: true
                upc:
                    type: string 
                    description: Used to define the 12-digit Universal Product Code (a barcode) associated with the item worldwide. 
                    example: 0825764603119
                    maxLength: 1024
                    nullable: true
                sku:
                    type: string 
                    description: Used to define an alpha-numeric Stock Keeping Unit associated with the item as it is mapped to your internal product catalogue.
                    maxLength: 1024
                    example: BOLT-SKU_100
                    nullable: true
                isbn:
                    type: string 
                    description: Used to define the International Standard Book Number associated with the book.
                    example: 9780091347314
                    maxLength: 1024
                    nullable: true
                brand:
                    type: string
                    example: Bolt 
                manufacturer:
                    type: string 
                    description: Used to define the organization that manufactured the item. 
                    example: Bolt Textiles USA
                    maxLength: 1024
                    nullable: true
                category:
                    type: string 
                    description: Used to define a product category associated with the item.
                    example: bags  
                    maxLength: 1024
                    nullable: true
                collections:
                    type: array 
                    items:
                        type: string 
                properties: 
                    type: array 
                    items:
                        $ref: '#/components/schemas/CartItemProperty'
                tags:
                    type: string
                    description: Used to define a comma-separated list of tags associated with the item. 
                    example: "tote, blue, linen, eco-friendly" 
                color:
                    type: string
                    description: Used to define the color of the item. 
                    example: Bolt Blue 
                size:
                    type: string 
                    description: Used to define the size of the item. 
                    example: Large 
                weight:
                    $ref: '#/components/schemas/IWeight'
                image_url: 
                    type: string 
                    description: Used to provide a link to the image associated with the item. 
                    example: https://boltswagstore.com/products/123456/images/1.png 
                details_url:
                    type: string 
                    description: Used to provide a link to the item's product page. 
                    example: https://boltswagstore.com/products/123456 
                type:
                    type: string 
                    enum:
                        - unknown 
                        - digital 
                        - physical 
                        - bundled 
                shopify_product_reference:
                    type: number
                shopify_product_variant_reference:
                    type: number 
                    format: int64 
                taxable:
                    type: boolean 
                tax_code:
                    type: string 
                item_group:
                    type: string 
                source:
                    type: string 
                    enum: 
                        - add_on 
                        - checkout 
                        - unknown 
                shipment_type:
                    type: string 
                    enum: 
                        - unknown 
                        - door_delivery 
                        - ship_to_store 
                        - in_store_pickup 
                customizations:
                    type: array 
                    items: 
                        $ref: '#/components/schemas/CartItemCustomization'
        CartItemProperty: 
            type: object 
            properties: 
                name:
                    type: string 
                    maxLength: 1024
                name_id:
                    type: number 
                    format: int64 
                value:
                    type: string 
                    maxLength: 1024
                value_id:
                    type: number 
                    format: int64 
        CartLoyaltyRewards:
            type: object 
            properties: 
                amount: 
                    type: number 
                    format: int64 
                    description: The reward amount in cents (1/100). 
                type: 
                    type: string 
                    description: The type of loyalty reward. 
                coupon_code: 
                    type: string 
                    description: The loyalty reward's coupon code. 
        CartShipment:
            type: object 
            properties: 
                shipping_address_id:
                    type: string 
                    description: The unique Bolt ID associated with the shopper's shipping address. Shoppers can save many shipping addresses to their account.  Must be `null` if this address has never been saved to a Bolt account. 
                    nullable: true 
                    example: null
                    
                shipping_address:
                    $ref: '#/components/schemas/Address'
                total_weight:
                    type: number 
                    format: int64 
                    description: Used to define the total weight of the shipment and all of its items. 
                    maximum: 10000
                total_weight_unit:
                    type: string 
                    description: Used to define the unit used to measure the weight of the shipment. 
                    example: pounds 
                    maxLength: 1024
                shipping_method:
                    type: string 
                    description: Used to determine how the shipment is delivered.
                    enum: 
                        - "unknown" 
                        - "digital"
                        - "physical"
                carrier:
                    type: string 
                    description: Used to define the carrier delivering the shipment. 
                    example: USPS 
                    maxLength: 1024
                reference:
                    type: string 
                    maxLength: 1024
                signature:
                    type: string 
                    maxLength: 1024
                service: 
                    type: string 
                    maxLength: 1024
                expedited: 
                    type: boolean 
                cost:
                    type: number 
                    format: int64 
                tax_amount:
                    type: number 
                    format: int64 
                    description: The tax amount for the associated shipping method. 
                package_type:
                    type: string 
                    maxLength: 1024
                package_width:
                    type: number 
                    format: int64 
                    maximum: 10000
                package_height:
                    type: number 
                    format: int64 
                    maximum: 10000
                package_depth:
                    type: number
                    format: int64 
                    maximum: 10000
                package_dimension_unit:
                    type: string 
                    maxLength: 1024
                package_weight:
                    type: number
                    format: int64 
                    maximum: 10000
                package_weight_unit:
                    type: string 
                    description: Used to define the unit of measure for the shipment's weight.
                    example: pounds 
                    maxLength: 1024
                tax_code: 
                    type: string 
                    maxLength: 32
                estimated_delivery_date:
                    type: string 
                    format: date-time
                    maxLength: 1024
                type:
                    type: string 
                    enum: 
                        - unknown 
                        - door_delivery 
                        - in_store_pickup 
                        - ship_to_store 
                    maxLength: 1024
                discounted_by_membership:
                    type: boolean 
        ICartShipmentView:
            type: object 
            properties: 
                estimated_delivery_date:
                    type: string 
                    format: date-time
                carrier:
                    type: string 
                    example: USPS 
                    description: The carrier used to deliver the shipment. 
                    maxLength: 1024
                cost:
                    $ref: '#/components/schemas/AmountView'
                default:
                    type: boolean 
                expedited:
                    type: boolean 
                    description: Used to determine whether a shipment has been expedited or not.
                package_dimension:
                    type: object 
                    properties: 
                        width:
                            type: number 
                            format: int64 
                        height:
                            type: number 
                            format: int64 
                        depth:
                            type: number 
                            format: int64 
                        unit: 
                            type: string 
                package_type:
                    type: string 
                package_weight:
                    $ref: '#/components/schemas/IWeight'
                reference:
                    type: string 
                shipping_address:
                    $ref: '#/components/schemas/AddressView'
                shipping_method:
                    type: string 
                signature:
                    type: string 
                tax_amount:
                    $ref: '#/components/schemas/AmountView'
                total_weight:
                    $ref: '#/components/schemas/IWeight'
                index:
                    type: number 
                    format: int64 
                is_static_shipping_option:
                    type: boolean 
                discounted_by_membership:
                    type: boolean 
                type: 
                    type: string 
                description:
                    type: array 
                    items:
                        $ref: '#/components/schemas/IDescriptionPart' 
                description_tooltips:
                    type: array 
                    items:
                        $ref: '#/components/schemas/IDescriptionTooltip'
        CatalogView:
            type: object 
            properties: 
                Catalog:
                    type: array 
                    items:
                        $ref: '#/components/schemas/ProductInventoryView'
                Cursor:
                    type: string 
        ChargebackDetailsView:
            type: object 
            properties: 
                reason:
                    type: string 
                reason_code:
                    type: string 
                chargeback_amt:
                    allOf:
                      - $ref: '#/components/schemas/AmountView'
                      - description: The total amount of dispute debits and credits related to this chargeback case.
                chargeback_fee:
                    allOf: 
                      - $ref: '#/components/schemas/AmountView'
                      - description: The total amount of dispute fee debits and credits related to this chargeback case. 
                net_amt:
                    allOf:
                      - $ref: '#/components/schemas/AmountView'
                      - description: The total sum of the fields `chargeback_amt` and `chargeback_fee`. 
                amt_won:
                    allOf:
                      - $ref: '#/components/schemas/AmountView'
                      - description: The total representment amount IF the merchant won the chargeback case. 
                representment_result:
                    type: string 
                    enum:
                        - none 
                        - open 
                        - lost 
                        - won
                representment_reply_by_date:
                    type: number 
                    format: int64 
                    description: The reply-by date of the dispute in UnixMillis format.
                chargeback_id:
                    type: string 
                event_views:
                    type: array 
                    items:
                        $ref: '#/components/schemas/ChargebackEventView'
        ChargebackEventView:
            type: object 
            properties: 
                content:
                    type: string 
                time: 
                    type: number 
        ConsumerSelfView:
            allOf:
                - $ref: '#/components/schemas/ConsumerSummaryView'
                - type: object 
                  properties: 
                      authentication: 
                        $ref: '#/components/schemas/LoginView'
                      phones:
                          type: array 
                          items:
                              $ref: '#/components/schemas/PhoneView'
                      emails:
                          type: array 
                          items:
                              $ref: '#/components/schemas/EmailView'
                      email_verified:
                          type: boolean 
                      has_had_associated_address:
                          type: boolean 
                      platform_account_status: 
                          type: string 
                          enum:
                              - none 
                              - linked 
                              - unlinked 
                      

        ConsumerSummaryView:
            type: object 
            properties: 
                id: 
                    type: string 
                first_name:
                    type: string 
                    description: The given name of the person associated with this record. 
                    example: Alan 
                last_name:
                    type: string  
                    description: The surname of the person associated with this record. 
                    example: Watts     
        CreditCardAuthorizationView: 
            type: object 
            properties: 
                auth: 
                    type: string 
                avs_response:
                    type: string 
                    enum:
                        - "00"
                        - "01" 
                        - "02" 
                        - "10" 
                        - "11"
                        - "12" 
                        - "13" 
                        - "14"
                        - "20" 
                        - "30" 
                        - "31" 
                        - "32" 
                        - "33" 
                        - "34" 
                        - "40" 
                        - adyen_
                        - adyen_A 
                        - adyen_N 
                        - adyen_U
                        - adyen_S
                        - adyen_R
                        - adyen_W 
                        - adyen_T 
                        - adyen_Z 
                        - adyen_D
                        - adyen_F 
                        - adyen_M 
                        - adyen_X
                        - adyen_Y 
                        - adyen_B 
                        - adyen_P 
                        - adyen_C 
                        - adyen_G 
                        - adyen_I 
                        - adyen_K
                cvv_response:
                    type: string 
                    enum: 
                        - M 
                        - N 
                        - P 
                        - S 
                        - U 
                        - D 
                        - X 
                        - Y 
                        - "1" 
                        - "2" 
                        - "3" 
                        - pass 
                        - fail 
                        - unavailable 
                        - unchecked 
                        - braintree_M 
                        - braintree_N 
                        - braintree_U 
                        - braintree_B 
                        - braintree_A
                        - braintree_I 
                        - braintree_S 
                        - CVV2 
                metadata: 
                    type: object 
                    additionalProperties: 
                        type: string 
                processor: 
                    type: string 
                    enum:
                        - vantiv
                        - adyen_payfac 
                        - adyen_gateway 
                        - stripe 
                        - braintree 
                        - cybersource 
                        - nmi 
                        - authorize_net 
                        - radial 
                        - shopify_payments 
                        - rocketgate 
                reason: 
                    type: string 
                status: 
                    type: string 

        CaptureTransaction:
            type: object
            required: 
              - transaction_id 
              - amount
              - currency 
            properties: 
                transaction_id:
                    type: string 
                    example: "TA8hLkJh4db4J"
                transaction_reference:
                    type: string 
                    description: The 12 digit reference ID associated to a given transaction webhook for an order. 
                    example: "7BVC-6BHC-44JF"
                    minLength: 12 
                    maxLength: 12 
                amount:
                    type: number 
                    format: int64 
                    example: 31934
                currency:
                    type: string 
                    example: USD 
                skip_hook_notification:
                    type: boolean  
                    description: Set to `true` to skip receiving a webhook notification from Bolt that is triggered by this update to the transaction.  
        CreateAccountInput:
            type: object 
            description: The details needed to create a Bolt account.  
            properties:
                profile: 
                    $ref: '#/components/schemas/Profile'
                    description: The profile to be associated with this account. 
                addresses: 
                    type: array 
                    items:
                        $ref: '#/components/schemas/Address-Account'
                    description: A list of physical shipping addresses associated with this account. 
                payment_methods:
                    type: array 
                    items:
                        $ref: '#/components/schemas/PaymentMethod-Account'
                    description: A list of payment methods associated with this account.
            required:
                - profile
        CreditCard:
            type: object 
            description: The CreditCard object is used to to pay for guest-checkout transactions and save payment method details to an account. Once saved, you can reference the associated `credit_card_id` for future transactions.
            required:
              - token 
              - last4 
              - bin 
              - number 
              - expiration 
              - postal_code 
            properties:
                id: 
                    type: string 
                    description: The credit card's unique ID.  
                token:
                    type: string 
                    description: The Bolt token associated to the credit card. 
                    example: a1B2c3D4e5F6G7H8i9J0k1L2m3N4o5P6Q7r8S9t0
                last4:
                    type: string 
                    description: The last 4 digits of the credit card number.
                    example: "1234"
                    minLength: 4
                    maxLength: 4
                bin:
                    type: string 
                    description: The Bank Identification Number for the credit card; this is typically the first 4-6 digits of the credit card number.
                    minLength: 4
                    maxLength: 6
                number: 
                    type: string 
                    description: Used to provide ApplePay DPAN or private label credit card PAN when applicable.
                expiration:
                    type: string 
                    description: The expiration date of the credit card. 
                    example: "12/12/2024"

                postal_code:
                    type: string 
                    description: Used for the postal or zip code associated with the credit card. 
                    maxLength: 32 
                    example: "10044"
                billing_address_id:
                    type: string 
                    description: The unique Bolt ID associated with the billing address. You can use this field when referencing an existing (saved) billing address for the shopper. If you use this field, you do not need to use `billing_address`.
                    nullable: true 
                    example: null 
                billing_address:
                    $ref: '#/components/schemas/Address'
                save:
                    type: boolean 
                    description: Used to determine whether the address is used once or saved to the shopper's account address book; defaults to `true` if not provided.
                token_type:
                    type: string 
                    description: Used to define which payment processor generated the token for this credit card.
                    enum:
                        - vantiv 
                        - applepay 
                        - bolt 
                        - stripe 
                        - plcc 
                network:
                    type: string 
                    enum: 
                        - unknown 
                        - visa 
                        - mastercard 
                        - amex 
                        - discover 
                        - diners_club_us_ca
                        - jcb 
                        - unionpay 
                        - alliancedata
                        - citiplcc

                cryptogram:
                    type: string 
                eci: 
                    type: string 
        CreditCardCaptureView: 
            type: object 
            properties: 
                id: 
                    type: string 
                status: 
                    type: string 
                amount: 
                    $ref: '#/components/schemas/AmountView'
                splits: 
                    $ref: '#/components/schemas/TransactionSplitsView'
                metadata: 
                    type: object 
                    additionalProperties: 
                        type: string 
                        example: 
                            key1: value1 
                            key2: value2 
        CreditCardCreditStatus: 
            type: string
            description: The status of the refund to a card.
            enum: 
                - succeeded
                - declined
                - error
                - pending
                - in progress
            example: succeeded
        CreditCardCreditView: 
          type: object 
          properties: 
            status: 
              $ref: '#/components/schemas/CreditCardCreditStatus' 
        CreditCardRefund:
          type: object 
          properties: 
                id: 
                    type: string 
                    example: "TA8hLkJh4db4J"
                type: 
                    type: string 
                    example: "cc_credit"
                
                date: 
                    type: number 
                    format: int64 
                    example: 1643762346971
                reference: 
                    type: string 
                    example: "7BVC-6BHC-44JF"
                status: 
                    type: string 
                    example: "completed"
                to_credit_card: 
                    $ref: '#/components/schemas/CreditCardView'
                amount: 
                    $ref: '#/components/schemas/AmountView'
                credit: 
                    $ref: '#/components/schemas/CreditCardCreditView'
                splits: 
                    type: array 
                    items: 
                        $ref: '#/components/schemas/TransactionSplitsView'
        CreditCardView: 
            type: object 
            description: The CreditCard object is used to to pay for guest-checkout transactions and save payment method details to an account. Once saved, you can reference the associated `credit_card_id` for future transactions.
            properties: 
                id:
                    type: string 
                last4:
                    type: string 
                    description: The last 4 digits of the credit card number.
                    example: "1234"
                    minLength: 4
                    maxLength: 4
                bin:
                    type: string 
                    description: The Bank Identification Number for the credit card; this is typically the first 4-6 digits of the credit card number.
                    minLength: 4
                    maxLength: 6
                expiration:
                    type: number 
                    format: int64 
                    description: The expiration date of the credit card. 
                    example: "12/12/2024"
                network:
                    type: string 
                    enum: 
                        - unknown
                        - visa 
                        - mastercard 
                        - amex 
                        - discover
                        - jcb 
                        - unionpay 
                        - cvv 
                        - alliancedata
                        - citiplcc 
                token_type: 
                    type: string 
                    description: Used to define which payment processor generated the token for this credit card.
                    enum:
                        - vantiv 
                        - applepay 
                        - bolt 
                        - stripe 
                        - plcc  
                priority:
                    type: string 
                display_network:
                    type: string 
                status:
                    type: string 
                billing_address:
                    $ref: '#/components/schemas/AddressView'
        CreditCardVoid:
            type: object 
            required: 
              - transaction_id 
            properties:
                transaction_id:
                    type: string
                    example: "TA8hLkJh4db4J"
                skip_hook_notification:
                    type: boolean 
                    description: Set to `true` to skip receiving a webhook notification from Bolt that is triggered by this update to the transaction.  
                transaction_reference:
                    type: string
                    description: The 12 digit reference ID associated to a given transaction webhook for an order. 
                    example: "7BVC-6BHC-44JF"
                    minLength: 12 
                    maxLength: 12 
        CreditCardVoidView:
            type: object 
            properties:
                id: 
                    type: string 
                    example: "TA8hLkJh4db4J"
                status:
                    type: string 
                    example: "cancelled"
        ICurrency:
            type: object 
            properties:
                currency:
                    type: string
                    example: USD  
                currency_symbol:
                    type: string 
                    example: "$"
        CustomerListStatus: 
            type: object 
            properties: 
                auto_approved: 
                   type: boolean
                block_listed:
                   type: boolean 
        CustomFieldFullResponseView:
            type: object 
            properties: 
                field:
                    $ref: '#/components/schemas/CustomFieldView'
                response:
                    $ref: '#/components/schemas/CustomFieldResponseView'
        CustomFieldResponseView:
            type: object 
            properties: 
                response:
                    anyOf:
                        - type: string 
                        - type: boolean
        CustomFieldView:
            type: object 
            properties:
                external_id:
                    type: string 
                public_id:
                    type: string 
                label:
                    type: string 
                checkout_step:
                    type: string 
                    enum: 
                        - SHIPPING_STEP 
                        - DELIVERY_STEP 
                        - PAYMENT_STEP 
                        - ACCOUNT_REGISTRATION_SSO
                field_setup:
                    type: string 
                position:
                    type: number 
                    format: int64 
                required:
                    type: boolean
                dynamic:
                    type: boolean 
                subscribeToNewsletter:
                    type: boolean 
        IDeliveryOptions:
            type: object 
            properties: 
                inStorePickupOptions:
                    type: array
                    items:
                        $ref: '#/components/schemas/IStoreShipmentView'
                shippingOptions:
                    type: array 
                    items:
                        $ref: '#/components/schemas/ICartShipmentView'
                shipToStoreOptions:
                    type: array 
                    items:
                        $ref: '#/components/schemas/IStoreShipmentView'
                dynamicContent:
                    $ref: '#/components/schemas/IOrderDynamicContent'
        IDescriptionPart:
            type: object 
            properties: 
                is_html:
                    type: boolean 
                content:
                    type: string 
        IDescriptionTooltip:
            type: object 
            properties: 
                target:
                    type: number 
                    format: int64 
                html_content:
                    type: string 
        EmailView:
            type: object 
            properties: 
                id: 
                    type: string 
                address:
                    type: string 
                    example: alan.watts@bolt.com
                status:
                    type: string
                    enum: 
                      - "active"
                      - "pending"
                priority:
                    type: string 
                    enum: 
                        - primary 
                        - listed 
        EmbeddedCreditCardInput:
            allOf: 
                - $ref: '#/components/schemas/CreditCard'
                - type: object 
                  properties: 
                      type: 
                          type: string 
                          description: Currently only `card` is supported; blank `type` properties default to `card` value. 
                          enum: 
                          - card 
        IError: 
            type: object 
            properties: 
                code:
                    type: number 
                    format: int64 
                message:
                    type: string 

        IErrorResponse:
            type: object 
            properties: 
                result:
                    type: object 
                    properties:
                        success:
                            type: string 
                            enum:
                                - "false" 
                errors:
                    type: array 
                    items:
                        $ref: '#/components/schemas/IError'
                        status:
                            type: number 
                            format: int64 
        IFreeShippingDiscountView:
            type: object 
            properties:
                is_free_shipping:
                    type: boolean 
                maximum_cost_allowed:
                    type: number 
                    format: int64 
        IGiftOptionView:
            type: object 
            properties: 
                hide_gift_message:
                    type: boolean 
                hide_gift_wrap:
                    type: boolean 
        HostedPaymentsResponse:
            type: object 
            required: 
              - x_account_id 
              - x_amount 
              - x_currency 
              - x_gateway_reference
              - x_reference 
              - x_result 
              - x_signature 
              - x_test 
              - x_timestamp 
            properties: 
                x_account_id:
                    type: string 
                x_amount:
                    type: string 
                x_currency:
                    type: string 
                    example: USD 
                x_gateway_reference:
                    type: string 
                x_message:
                    type: string 
                x_reference:
                    type: string 
                x_result:
                    type: string 
                    enum:
                        - completed 
                        - failed 
                        - pending 
                x_signature:
                    type: string 
                x_test:
                    type: string 
                x_timestamp:
                    type: string 

        InStoreCartShipment:
            type: object
            properties: 
                cart_shipment:
                    $ref: '#/components/schemas/CartShipment'
                in_store_pickup_address:
                    $ref: '#/components/schemas/Address'
                distance:
                    type: number
                    format: float64 
                    example: 3
                distance_unit:
                    type: string
                    enum: 
                        - km 
                        - mile 
                    example: mile 
                store_name:
                    type: string 
                    description: The local store's name where the item can be picked up.
                    example: Bolt Collective 
                pickup_window_open:
                    type: integer 
                    format: date 
                pickup_window_close:
                    type: integer 
                    format: date
                  
        LoginView: 
            type: object 
            properties: 
                methods:
                    type: array 
                    items:
                        type: string 
                        enum: 
                            - code 
[...]
